<div id="center">
    <br>
    <h1>
  <p> Welcome To the State Scoring Application </p>
</h1>
    <h2>
    <br> Welcome user: </h2>
      <h1> {{user}} </h1>
    <h2>It looks like, this is your visit number :</h2>
    <h1>{{visitnumber}} </h1>
    <div id="timer">
        <h2> <p> The Lookup time to obtain the state is : :</h2>
        <h1> {{lookuptime}}  ms</h1>
        <br>
</div>
    <div id="scoring">
        <h2> <p> The Score this container was assigned is :</h2>
        <h1> {{score}}</h1>
        <br>
        <h3>
        <p> description : {{description}} </p>
      </h3>
    </div>
</div>
